params {
    rnaseq_max_cpus = 8
    rnaseq_max_memory = '48.GB'
}

process {
    resourceLimits = [
        cpus: params.rnaseq_max_cpus,
        memory: params.rnaseq_max_memory
    ]

    withName: 'NFCORE_RNASEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
        cpus = params.rnaseq_max_cpus
        memory = params.rnaseq_max_memory
    }
}
