/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/hlarnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    rna_samples = "${projectDir}/tests/fixtures/rna_samples.csv"
    hla_region  = 'chr6:28500000-33400000'
    wgs_samples = null
    sample_key  = "${projectDir}/tests/fixtures/sample_key_empty.csv"
    hlapm_repo  = "${projectDir}/tests/fixtures/hlapm_repo_stub"
    arcashla_reference_dir = "${projectDir}/tests/fixtures/arcashla_reference_stub"

}
